.about-content{
    display: flex;
    justify-content: space-between;
}

.about-left{
    width:49.419%;
}

.about-img__left{
    width: 100%;
    height: 250px;
    background-color: #d9d9d9;
    margin-top: 32px;
}

.profile-top{
    display: flex;
}

.profile-top div{
    margin-top: 24px;
    font-size: 14px;
}

.profile-top div ul{
    margin-top: 10px;
    font-size: 16px;
}


.profile-top div ul li{
    color: #5b5b5b;
    list-style: inside;
    list-style-type: square;
}

.profile-top div ul li + li{
   margin-top: 6px; 
}

.margin-left{
    margin-left: 134px ;
}

.profile-bottom{
    margin-top: 67px;
}

.bottom{
    display: flex;
    border-top: 1px solid #1c1c1c;
    align-items: center;
    padding: 34px;
}

.bottom-text{
    margin-left:20px;
}

.bottom-text h4{
    font-size: 30px;
    font-weight: 400;
}

.bottom-text p{
    font-weight: 300;
    color: #5b5b5b;
    margin-top: 8px;
}

.bottom-box__2{
    border-bottom: 1px solid #1c1c1c;
}

.about-right{
    width: 40.988%;
    margin: 48px 0 0 0;
}

.about-right__text p{
    font-weight: 300;
    color: #5b5b5b;
}

.about-right__text p + p{
    margin-top: 16px;
}

.about-img__right{
    width: 100%;
    height: 691px;
    background-color: #1c1c1c;
    margin: 70px 0;
}

@media (max-width: 1280px){
    
    .about-content{
        flex-wrap: wrap;
    }
    .about-left{
        width: 100%;
    }
    
    .about-right{
        width: 100%;
    }
}

@media (max-width: 500px){
    .profile-top{
        display: block;
    }

    .margin-left{
        margin: 0;
    }

    .bottom{
        display: block;
        padding: 34px 0;
    }

    .bottom br{
        display: none;
    }
    .about-right__text br{
        display: none;
    }
}