.componant-f,
.componant-s{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.componant-f div div:nth-of-type(2),
.componant-s div div:nth-of-type(2){
    width: 415px;
    height: 819px;
    border: 1px solid #1c1c1c;
    margin-top: 32px;
}

.componant-f > div:nth-of-type(even),
.componant-s > div:nth-of-type(even){
    margin-left: 20px;
}