
.concept-container{
    margin-top: 140px;
}

.box-container{
    width: 49.419%;
    
    margin: 0 auto;
}

.title h3{
    font-size: 32px;
}

.title span{
    font-size: 14px;
    color: #979797;
}

.title::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1c1c1c;
    margin-top: 16px;
}

.about{
    margin-top: 16px;
    margin-bottom: 101px;
}

.about h4{
    font-size: 20px;
    color: #3d3d3d;
}

.margin-top{
    margin-top: 16px;
}

.about p{
    margin-top: 6px;
    color: #3d3d3d;
    font-weight: 400;
    line-height: 22px;
}

.btn-area{
    width: 177px;
    height: 43px;
    transition: 0.6s;
}

.go-btn{
    width: 177px;
    height: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 12px 16px;
    transition: 0.6s;
}

.btn-area:first-of-type .go-btn{
    border: 1px solid #1c1c1c;
}

.btn-area:nth-of-type(2) .go-btn{
    background-color: #1c1c1c;
    color: #fff;
}

.arrow{
    transform: 0.6s;
}

.go-btn span:first-of-type{
    display: block;
    width: 20px;
    height: 1px;
    margin-top: 6px;
    transition: 0.6s;
}

.go-btn span + span{
    position: absolute;
    display: block;
    width: 6px;
    height: 1px;
    right: 0;
    rotate: 45deg;
    top: 21px;
    right: 16px;
    transition: 0.6s;
}

.btn-area:first-of-type .go-btn span{
    background-color: #1c1c1c;
}

.btn-area:first-of-type .go-btn span + span{
    background-color: #1c1c1c;
}

.btn-area:nth-of-type(2) .go-btn span{
    background-color: #fff;
}

.btn-area:nth-of-type(2) .go-btn span + span{
    background-color: #fff;
}


.btn-area:hover{
    background-color: #1c1c1c;
    transition: 0.6s;
}

.go-btn:hover{
    color: #fff;
}

.btn-area:nth-of-type(2) .go-btn:hover{
    background-color: #F48037;
    color: #1c1c1c;
    font-weight: 500;
}

.btn-area:first-of-type .go-btn:hover .arrow{
    background-color: #fff;
    transform: 0.6s;
}

.btn-area:nth-of-type(2) .go-btn:hover .arrow{
    background-color: #1c1c1c;
    transform: 0.6s;
}

.concept-btn{
    display: flex;
}

.concept-btn div + div{
    margin-left: 24px;
}

@media (max-width:1280px){
    .about p br{
        display: none;
    }

    .about p{
        line-height: 24px;
    }
}

@media (max-width:768px){
    .box-container{
        width: 100%;
    }
}

@media (max-width:400px){
    .title h3{
        font-size: 30px;
    }
}